@model AutoCheckTicketSystem.Models.Metadata.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
    var imageID = ViewBag.ImageID;
}

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Tables</a></li>
    </ul>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon user"></i><span class="break"></span>Members</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="box span12">
                            <h4>Employee</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.EmployeeID)

                            <div class="form-group">
                                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 marginLeft">
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Birthday, new { @class = "control-label col-md-2" })
                                <div class="col-md-10 marginLeft">
                                    @Html.EditorFor(model => model.Birthday)
                                    @Html.ValidationMessageFor(model => model.Birthday)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Identity, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Identity)
                                    @Html.ValidationMessageFor(model => model.Identity)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Role)
                                    @Html.ValidationMessageFor(model => model.Role)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.IsUsed, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @if (Model.IsUsed == true)
                                    {
                                        <span><label class="control-input col-md-2" for="IsUsed"> Đang sử dụng</label></span>
                                    }
                                    else
                                    {
                                        <span><label class="control-input col-md-2" for="IsUsed"> Tạm khóa</label></span>
                                    }
                                    @Html.ValidationMessageFor(model => model.IsUsed)
                                    <br />
                                </div>
                                <br>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ImageID, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <img id="pictureUpload" src="~/Content/CssAdmin/img/@Model.ImageID" style="width:100px;height:100px;margin-left:20px;" />
                                    @*<div class="col-md-2">
                                        <input type="file" name="fileUpload" />
                                        @ViewBag.ThongBao
                                    </div>*@
                                    @Html.ValidationMessageFor(model => model.ImageID)
                                    <input id="fileUpload" name="fileUpload" type="file" value="Upload" class="btn btn-default" style="margin-left:20px;margin-top:-60px" />

                                </div>
                                <br />
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 position">
                                    <input type="submit" value="Lưu" class="btn btn-default" />
                                    <input type="submit" value="Hủy" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@section upload
{
    <script>
        $(function () {
            
            $('#fileUpload').click(function () {
                if(window.FormData !== undefined)
                {
                    var fileUpload = $('#fileUpload').get(0);
                    var files = fileUpload.files;

                    var formData = new FormData();

                    formData.append('file', files[0]);
                    $.ajax(
                        {
                            type: 'POST',
                            url: '/User/ProcessUpload',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success:function(urlImage)
                            {
                                $('#pictureUpload').attr('src', urlImage);
                                $('#picture').val(urlImage);
                            },
                            error:function(err)
                            {
                                alert('Có lỗi khi upload:' + err.statusText);
                            }
                        })
                }
            });
        });
    </script>
}
<style>
    .position{
        margin-left: 100px;
    }
</style>


@*<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Nhập thông tin người dùng
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.EmployeeID)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-3" })

                                    @Html.TextBoxFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                                </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Identity, htmlAttributes: new { @class = "control-label col-md-3" })

                                        @Html.TextBoxFor(model => model.Identity, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Identity, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-3" })

                                        @Html.TextBoxFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })

                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IsUsed, htmlAttributes: new { @class = "control-label col-md-3" })


                                        @Html.CheckBoxFor(model => model.IsUsed)
                                        @Html.ValidationMessageFor(model => model.IsUsed, "", new { @class = "text-danger" })


                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-3" })

                                        @Html.TextBoxFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })

                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Cập nhật" class="btn btn-default" />
                                        </div>
                                    </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@











