@using AutoCheckTicketSystem.Models.Metadata;
@model List<Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

<div id="content" class="span10">
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Tables</a></li>
    </ul>
    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon user"></i><span class="break"></span>Members</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                        <tr>
                            <th>Họ tên</th>
                            <th>CMND</th>
                            <th>Ngày sinh</th>
                            <th>Ảnh đại diện</th>
                            <th>Quyền</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FullName</td>
                                <td class="center">@item.Indentity</td>
                                <td class="center">@item.Birthday</td>
                                <td class="center">
                                    Ảnh đại diện
                                </td>
                                <td class="center">@item.Role</td>
                                <td class="center">
                                    @Html.ActionLink("Chỉnh Sửa", "Edit", new { @EmployeeID = item.EmployeeID }) |;
                                    @Html.ActionLink("Xóa", "Delete", new { @EmployeeID = item.EmployeeID })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div><!--/span-->

    </div><!--/row-->
</div><!--/.fluid-container-->

